In [ ]:
mylist1 =[]
for i in range(3):
    mylist1.append(input("Enter number:: "))
print(mylist1)
mylist2 =[]
for a in range(3):
    mylist2.append(input("Enter number:: "))
print(mylist2)
mylist3 =mylist1 + mylist2
print(sorted(mylist3))

Enter number:: 4
Enter number:: 2
Enter number:: 5
['4', '2', '5']
Enter number:: 6
Enter number:: 1
Enter number:: 3
['6', '1', '3']
['1', '2', '3', '4', '5', '6']

In [ ]:
mylist1 =[]
for i in range(3):
    mylist1.append(input("Enter number:: "))
print(mylist1)
mylist2 =[]
for a in range(3):
    mylist2.append(input("Enter number:: "))
print(mylist2)
mylist3 =mylist1 + mylist2
print(mylist3)
print("The maximum number of the list is:", max(mylist3))
print("The maximum number of the list is:", min(mylist3))

Enter number:: 6
Enter number:: 2
Enter number:: 4
Enter number:: 5
['6', '2', '4']
Enter number:: 6
Enter number:: 7
['5', '6', '7']
['6', '2', '4', '5', '6', '7']
the maximum number of the list is: 7
2

In [2]:
def symmDiff(a,b):
  e=set()
  for i in a:
       if i not in b:
            e.add(i)
            for i in b:
              if i not in a:
                e.add(i)
set1={1,2,4,5}
set2={4,5,7,8,9}
print(symmDiff(set1,set2))
print(set1.symmetric_difference(set2))
print(set2.symmetric_difference(set1))
print(set1^set2)
print(set2^set1)

None
{1, 2, 7, 8, 9}
{1, 2, 7, 8, 9}
{1, 2, 7, 8, 9}
{1, 2, 7, 8, 9}

In [3]:
A = [[1, 0, 0],
    [0, 1, 0],
    [0, 0, 1]]
 
# take a 3x4 matrix   
B = [[1, 2, 3, ],
    [4, 5, 6 ],
    [7, 8, 9 ]]
     
c = [[0, 0, 0, 0],
        [0, 0, 0, 0],
        [0, 0, 0, 0]]
 
# iterating by row of A
for i in range(len(A)):
 
    # iterating by column by B
    for j in range(len(B[0])):
 
        # iterating by rows of B
        for k in range(len(B)):
            c[i][j] += A[i][k] * B[k][j]
 
for r in c:
    print(r)

[1, 2, 3, 0]
[4, 5, 6, 0]
[7, 8, 9, 0]

In [4]:
def isPalindrome(words):
  temp=words[::-1]
  if temp.capitalize()==words.capitalize():
      return True
  else:
       return False
print(isPalindrome("dad"))

True

In [5]:
mylist=[]
print("Enter  a list that is  taken from user 1")
for i in range (5):
  val=input("Enter a value")
  n=int(val)
  mylist.append(n)
  #taken list 2
mylist2=[]
print("Enter a list that is taken from list 2")
for i in range (5):
    val=input("enter a number")
    n=int(val)
    mylist2.append(n)
list3=mylist+mylist2;
print(list3)

Enter  a list that is  taken from user 1
Enter a value1
Enter a value2
Enter a value3
Enter a value4
Enter a value5
Enter a list that is taken from list 2
enter a number9
enter a number8
enter a number7
enter a number6
enter a number5
[1, 2, 3, 4, 5, 9, 8, 7, 6, 5]

In [1]:
#Activity 6
sample={("Haris,Ali"):"03131512785889",("Alyaan","AAmir"):"03145678738787",("Shahzaib","Talha"):"677547638636827"}
firstname=input("Enter the first name")
lastname=input("enter the last name ")
searchtuple=(firstname,lastname)
if searchtuple in sample:
  print(sample[searchtuple])
else:
    print("name not found")

Enter the first nameAlyaan
enter the last name AAmir
03145678738787

In [ ]:
dictionary = {
    
 "Alyaan" : "10/july/2001",
 "Haris Shah" : "1/oct/2000",
}
for i in dictionary:
    print(i)
name = input("enter The Names :")
if name in dictionary:
  print(name,":",dictionary[name])
else:
  print("Error")

Alyaan
Haris Shah
enter The Names :Haris Shah
Haris Shah : 1/oct/2000

In [ ]:
sample_dict = {
 "name": "Kelly",
 "age": 25,
 "salary": 8000,
 "city": "New york"
 }
new = {}
F = sample_dict["name"]
S = sample_dict["salary"]
new['Name'] = F
new['Salary'] = S
print(new)

{'Name': 'Kelly', 'Salary': 8000}

In [ ]:
import math
a= math.pi
b = -(a)
mylist =[] 
mylist.append(b)
mylist.append(a)
for i in range(5):
    a+=0.001
    b+=0.001
    mylist.append(b)
    mylist.append(a)
print(mylist)

[-3.141592653589793, 3.141592653589793, -3.1405926535897932, 3.142592653589793, -3.1395926535897933, 3.143592653589793, -3.1385926535897934, 3.144592653589793, -3.1375926535897936, 3.1455926535897927, -3.1365926535897937, 3.1465926535897926]